{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-5">
        {% if camiseta.imagem %}
        <img class="img-fluid rounded" 
             src="{{ url_for('static', filename='uploads/' + camiseta.imagem) }}">
        {% endif %}
    </div>

    <div class="col-md-7">
        <h1>{{ camiseta.time }}</h1>
        <p class="text-muted">{{ camiseta.temporada }} - {{ camiseta.tipo }}</p>

        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark text-white">País: {{ camiseta.pais }}</li>
            <li class="list-group-item bg-dark text-white">Marca: {{ camiseta.marca }}</li>
            <li class="list-group-item bg-dark text-white">Jogador: {{ camiseta.jogador }}</li>
            <li class="list-group-item bg-dark text-white">Número: {{ camiseta.numero }}</li>
            <li class="list-group-item bg-dark text-white">Condição: {{ camiseta.condicao }}</li>
        </ul>

        <a href="/edit/{{ camiseta.id }}" class="btn btn-warning mt-3">Editar</a>
        <a href="/delete/{{ camiseta.id }}" onclick="return confirmarDelete()" class="btn btn-danger">
            Excluir
        </a>
    </div>

</div>

{% endblock %}